<%= form_for(edificio) do |f| %>
  <% if edificio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(edificio.errors.count, "error") %> prohibited this edificio from being saved:</h2>

      <ul>
      <% edificio.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :identificador %>
    <%= f.number_field :identificador %>
  </div>

  <div class="field">
    <%= f.label :numeroDeBaÇños %>
    <%= f.number_field :numeroDeBaÇños %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
