<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @edificio.nombre %>
</p>

<p>
  <strong>Identificador:</strong>
  <%= @edificio.identificador %>
</p>

<p>
  <strong>Numerodeba«Òos:</strong>
  <%= @edificio.numeroDeBa«Òos %>
</p>

<%= link_to 'Edit', edit_edificio_path(@edificio) %> |
<%= link_to 'Back', edificios_path %>
