
<p id="notice"><%= notice %></p>

<h2>Solicituds</h2>

<%if user_signed_in? %>
    <div class ="row btn-right">
         <%= link_to 'New Solicitud', new_solicitud_path ,class:"btn btn-primary", :style=>"color:white;float:right;" %>
        </div>
    <% @solicituds.each do |solicitud| %>


      <div class = "row item">

				<div class = "col-md-8">
       

            <h2 style="opacity: 0.5;" class = "item-title">  <%= link_to solicitud.nombredelevento , solicitud %></h2>
            <p style="opacity: 0.5;" class = "item-desc item-sub-title"><%= solicitud.descripcion %></p>
            <p style="opacity: 0.5;" class = "time-ago item-sub-title">Asistentes <%= solicitud.numeroDeAsistentes %></p>
            <p style="opacity: 0.5;" class = "time-ago item-sub-title">Created <%= time_ago_in_words(solicitud.created_at) %></p>
        		</div>
        	<div class ="col-md-2">
					<p><%= link_to  solicitud, method: :delete, data: {confirm: "Are you sure?" } do %></p>
					<i class = "fa fa-lg fa-trash"></i>
					<% end %>
				</div>
			   
        

       </div>
     
<br><% end -%>


   
<% end -%>