<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @usuario.nombre %>
</p>

<p>
  <strong>Usuario sia:</strong>
  <%= @usuario.usuario_sia %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @usuario.clave %>
</p>

<p>
  <strong>Vinculacion:</strong>
  <%= @usuario.vinculacion %>
</p>

<%= link_to 'Edit', edit_usuario_path(@usuario) %> |
<%= link_to 'Back', usuarios_path %>
